body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container{
    width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(0, 0, 50, 0.8),rgba(104, 144, 193, 0.8)),url(npcil_img2.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
}

/* Change the color of the text inside the container */
.container  {
    color: #fefefe; /* Dark gray */
}

/* Change the color of labels */
label {
    color: #f3f3f3; /* Lighter gray */
}

/* Change the color of the displayed area text */
#displayArea p {
    color: #000000; /* Slightly darker gray for readability */
}

label {
    display: block;
    margin-top: 0.5px;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3e00ae;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e00ae;
}
